[alias]
	st = status
	co = checkout
	ci = commit
[user]
	name = Jakub Godawa
	email = jakub.godawa@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
	whitespace = cr-at-eol
[init]
	defaultBranch = master
