[alias]
	st = status
	co = checkout
	ci = commit
[user]
	name = vysogot
	email = jakub.godawa@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
